@tailwind base;
@tailwind components;
@tailwind utilities;

.header .navbar .active {
  background-color: #ffff00;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.card-shadow {
  box-shadow: 6px 6px 0 0 #bfbdba;
}

.mode .bg-light {
  background-color: #5344ee;
}

.bbg-noise {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("/background_noise.gif");
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  opacity: 0.05;
}

.bbg-image {
  background-image: url("/background.jpg");
}
