@tailwind base;
@tailwind components;
@tailwind utilities;

.header .navbar .active {
  background-color: #ffff00;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.card-shadow {
  box-shadow: 6px 6px 0 0 #bfbdba;
}

.mode .bg-light {
  background-color: #5344ee;
}

.bbg-noise {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url("/background_noise.gif");
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  opacity: 0.05;
}

.bbg-image {
  background-image: url("/background.jpg");
}

.available-dot .circle {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #58dd29;
  animation: glow-available-dot-circle 1s ease-in-out infinite alternate;
}

.available-dot {
  display: inline-block;
}

@-webkit-keyframes glow-available-dot-circle {
  0% {
    box-shadow: 0 0 4px #58dd29, inset 0 0 4px #58dd29;
  }
  50% {
    box-shadow: 0 0 16px 06px #58dd29, inset 0 0 16px 06px #58dd29;
  }
  100% {
    box-shadow: 0 0 4px #58dd29, inset 0 0 4px #58dd29;
  }
}
